@model IEnumerable<URent.Models.SUPTransaction>

@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<h2>My Notifications...</h2>

<div>
    @*Transactions table (where transactions will show up via JavaScript)*@
    <table class="table">
        <tr>
            <th>Item name</th>
            <th>Renter name</th>
            <th>Transaction start date</th>
            <th>Transaction end date</th>
            <th>Received on</th>
            <th>Total price</th>
        </tr>
    </table>

    @*Displays message if there are no rental notifications*@
    <h5 id="message" style="text-align:center"></h5>
    <br />
</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/UserNotifications.js")
}
