@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
    /* Footer styling */
    position: relative;
    min-height: 100%;
}

nav {
    font-family: 'Nunito', sans-serif;
}

body {
    /*Minimum distance from footer*/
    margin-bottom: 120px;
    font-family: Arial, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4c0893;
}

footer > p {
    margin-bottom: 0;
    color: #fff;
    opacity: 0.55;
}

/* Navbar background color */
.bg-custom {
    background-color: #4c0893;
}

/* Overrides input text width */
.form-inline {
    display: inline !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}