.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

tr:nth-child(odd) {
    background-color: #D3D3D3;
}

.bg-custom {
    background-color: #1351c3;
}

#body-bg-color {
    background-color: #1a4184;
}

#custom {
    margin-top: 20px;
    background-color: #f4f6f9;
    border-radius: 15px;
    padding: 20px;
}