@{
    ViewBag.Title = "Cannot find page";
}

<div class="container">
    <h2><b>404. That's an error.</b></h2>
    <img class="mx-auto d-block" src="@Url.Content("~/Content/Img/404.gif")" style="max-height: 30%; max-width: 30%;" />
    <h5 style="text-align:center">Looks like the page you are looking for is no longer here.</h5>

    <br />
    <div style="color: #8700d1">
        <h4><i class="fa fa-info-circle"></i> What you can do</h4>
        <hr style="border-color: #8700d1" />
        <p>If you believe this is a mistake, you can try the following:</p>
        <ul>
            <li>Return to the previous page and perform the action again.</li>
            <li>Check that you typed in the URL correctly.</li>
            <li>Force reload the previous page (this will clear the cache for that page)</li>
            <ul>
                <li>In most Windows and Linux browsers, hold down <b>Ctrl</b> and press <b>F5</b></li>
                <li>In most Mac browsers, hold down both <b>Command</b> and <b>Shift</b> keys and press <b>R</b></li>
                <li>For other browsers, please refer to <a href="https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Bypassing_cache" style="color:blue">this page.</a></li>
            </ul>
        </ul>
    </div>
</div>

