@using URent.Controllers
@{
    ViewBag.Title = "Error_EditViewAnotherAccount";
}

<h2>Error!</h2>
<p>You are attempting to view or edit another user's account.</p>

<a href="/Home/Index">Go Back Home</a>

